.about-us-container {
    width: 100%;
}
.about-us-container h1 {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-family: 900;
}
.about-us-container img {
    width: 80%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease; /* Thêm transition nếu cần */
  }
  
  .about-us-container img:hover {
    transform: none; /* Đảm bảo không có hiệu ứng phóng to */
    
    
  }
  