.resgiter-container {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.resgiter-image {
  flex: 1;
  background: #93a3cc ;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 150px 0px 0px 100px;
}

.resgiter-image img {
  width: 100%;
  max-width: 300px;
}

.resgiter-form {
  flex: 1;
  padding: 40px;
}

.resgiter-form h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.resgiter-form p {
  margin-bottom: 20px;
  color: #666;
}

.resgiter-form form {
  display: flex;
  flex-direction: column;
}

.resgiter-form label {
  font-weight: 600;
  margin-top: 10px;
}

.resgiter-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.password-field span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #777;
}

.btn-primary {
  margin-top: 20px;
  padding: 10px;
  background-color: #2979ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-outline {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.create-account-link {
  text-decoration: none;
  color: inherit; /* giữ màu chữ như nút */
}

.btn-outline:hover {
  background-color: #ccc;
}
